---
import Form from '../components/Form.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Registro Geeparts'>
  <main class='w-full md:w-[800px]'>
    <h1 class='text-3xl mb-10 text-center text-geeparts-300 font-semibold'>
      Registro Geeparts Feria 2 Ruedas Colombia
    </h1>
    <Form />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
