<form id='form_event'>
  <div class='grid gap-6 mb-6 grid-cols-1 md:grid-cols-2'>
    <div>
      <label for='type_person' class='block mb-2 text-sm font-medium text-white'>Seleccione una opción</label>
      <select
        id='type_person'
        class='bg-gray-700 border border-gray-600 text-white text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 outline-none focus:ring-geeparts-300 focus:border-geeparts-300'
        name='type_person'
      >
        <!-- <option selected>Tipo de persona</option> -->
        <option value='detal'>Detal</option>
        <option value='mayor'>Mayor</option>
      </select>
    </div>
    <div>
      <label for='first_name' class='block mb-2 text-sm font-medium text-white'>Nombres</label>
      <input
        type='text'
        id='first_name'
        name='first_name'
        class='bg-gray-700 border border-gray-600 text-white text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 outline-none focus:ring-geeparts-300 focus:border-geeparts-300'
        placeholder='John'
        required
      />
    </div>
    <div>
      <label for='last_name' class='block mb-2 text-sm font-medium text-white'>Apellidos</label>
      <input
        type='text'
        id='last_name'
        name='last_name'
        class='bg-gray-700 border border-gray-600 text-white text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 outline-none focus:ring-geeparts-300 focus:border-geeparts-300'
        placeholder='Serrano'
        required
      />
    </div>
    <div class='motorcycle'>
      <label for='motorcycle' class='block mb-2 text-sm font-medium text-white'>¿Qué moto tiene?</label>
      <input
        type='text'
        id='motorcycle'
        name='motorcycle'
        class='bg-gray-700 border border-gray-600 text-white text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 outline-none focus:ring-geeparts-300 focus:border-geeparts-300'
        placeholder='Pulsar NS 160 FI'
        required
      />
    </div>
    <div class='city hidden'>
      <label for='city' class='block mb-2 text-sm font-medium text-white'>Ciudad</label>
      <!-- Input -->
    </div>
    <div>
      <label for='phone' class='block mb-2 text-sm font-medium text-white'>Número de celular</label>
      <input
        type='tel'
        id='phone'
        name='phone'
        class='bg-gray-700 border border-gray-600 text-white text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 outline-none focus:ring-geeparts-300 focus:border-geeparts-300'
        placeholder='3043538612'
        pattern='[0-9]{3}[0-9]{3}[0-9]{4}'
        required
      />
    </div>
    <div>
      <label for='email' class='block mb-2 text-sm font-medium text-white'>Correo electrónico</label>
      <input
        type='email'
        id='email'
        name='email'
        class='bg-gray-700 border border-gray-600 text-white text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 outline-none focus:ring-geeparts-300 focus:border-geeparts-300'
        placeholder='me@johnserrano.co'
        required
      />
    </div>
    <div class='flex items-start gap-3'>
      <label for='terms' class='order-2 block text-sm font-medium text-white w-[90%]'>
        Acepto los <strong class='text-geeparts-300'>Términos y condiciones</strong> y el tratamiento de mis datos conforme
        a la <strong class='text-geeparts-300'>Política de Tratamiento de datos</strong>
        de Geeparts.
      </label>
      <input
        type='checkbox'
        id='terms'
        name='terms'
        class='order-1 bg-gray-700 border border-gray-600 text-white text-sm rounded-lg block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 outline-none focus:ring-geeparts-300 focus:border-geeparts-300 w-5 h-5 cursor-pointer'
        required
      />
    </div>
  </div>
  <button
    id='submit'
    type='submit'
    class='text-black bg-geeparts-300 hover:bg-geeparts-500 outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-geeparts-300 dark:hover:bg-geeparts-500 disabled:bg-geeparts-500'
    >Enviar correo</button
  >
</form>

<script>
  const select = document.getElementById('type_person')
  const city = document.querySelector('.city')
  const motorcycle = document.querySelector('.motorcycle')
  const submit = document.getElementById('submit') as HTMLButtonElement
  const form = document.getElementById('form_event') as HTMLFormElement

  select?.addEventListener('change', event => {
    const select = event.target as HTMLSelectElement

    if (select.value === 'detal') {
      city?.classList.remove('block')
      city?.classList.add('hidden')
      motorcycle?.classList.remove('hidden')
      motorcycle?.classList.add('block')

      const idInputCity = document.getElementById('city')
      if (idInputCity) {
        city?.removeChild(idInputCity)
      }

      motorcycle?.appendChild(fieldInputMotorcycle())
    } else {
      const idInputMotorcycle = document.getElementById('motorcycle')
      if (idInputMotorcycle) {
        motorcycle?.removeChild(idInputMotorcycle)
      }

      city?.appendChild(fieldInputCity())
      city?.classList.remove('hidden')
      city?.classList.add('block')
      motorcycle?.classList.remove('block')
      motorcycle?.classList.add('hidden')
    }
  })

  form?.addEventListener('submit', async event => {
    event.preventDefault()
    const formData = new FormData(form)
    submit.disabled = true

    const type_person = formData.get('type_person')

    if (type_person === 'detal') {
      formData.set('listId', '4')
    } else {
      formData.set('listId', '7')
    }

    const res = await fetch('/api/event-two-wheels', {
      method: 'POST',
      headers: { 'content-type': 'application/json' },
      body: JSON.stringify(Object.fromEntries(formData)),
    })

    const data = await res.json()
    console.log({ data, res })
    submit.disabled = false
    form.reset()

    if (res.status !== 201) {
      window.toast({
        title: 'Error en el Registro',
        message: 'Hubo un problema al intentar registrar los datos. Por favor, inténtalo de nuevo más tarde.',
        location: 'bottom-center',
        icon: false,
        type: 'error',
      })
      return
    }

    // let inputs = form.getElementsByTagName('input')

    // for (let i = 0; i < inputs.length; i++) {
    //   inputs[i].value = ''
    // }

    window.toast({
      title: 'Registro Exitoso',
      message: 'Los datos se han registrado correctamente.',
      location: 'bottom-center',
      icon: false,
      type: 'success',
    })
  })

  const fieldInputCity = () => {
    const inputCity = document.createElement('input')
    inputCity.type = 'text'
    inputCity.id = 'city'
    inputCity.name = 'city'
    inputCity.className =
      'block bg-gray-700 border border-gray-600 text-white text-sm rounded-lg w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 outline-none focus:ring-geeparts-300 focus:border-geeparts-300'
    inputCity.placeholder = 'Cúcuta'
    inputCity.required = true

    return inputCity
  }

  const fieldInputMotorcycle = () => {
    const inputMotorcycle = document.createElement('input')
    inputMotorcycle.type = 'text'
    inputMotorcycle.id = 'motorcycle'
    inputMotorcycle.name = 'motorcycle'
    inputMotorcycle.className =
      'bg-gray-700 border border-gray-600 text-white text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 outline-none focus:ring-geeparts-300 focus:border-geeparts-300'
    inputMotorcycle.placeholder = 'Pulsar NS 160 FI'
    inputMotorcycle.required = true

    return inputMotorcycle
  }
</script>
