<form>
  <div class='grid gap-6 mb-6 md:grid-cols-2'>
    <div>
      <label for='type_person' class='block mb-2 text-sm font-medium text-gray-900 dark:text-white'
        >Seleccione una opción</label
      >
      <select
        id='type_person'
        class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
      >
        <option selected>Tipo de persona</option>
        <option value='detal'>Detal</option>
        <option value='mayor'>Mayor</option>
      </select>
    </div>
    <div>
      <label for='first_name' class='block mb-2 text-sm font-medium text-gray-900 dark:text-white'>Nombres</label>
      <input
        type='text'
        id='first_name'
        class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
        placeholder='John'
        required
      />
    </div>
    <div>
      <label for='last_name' class='block mb-2 text-sm font-medium text-gray-900 dark:text-white'>Apellido</label>
      <input
        type='text'
        id='last_name'
        class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
        placeholder='Serrano'
        required
      />
    </div>
    <div>
      <label for='motorcycle' class='block mb-2 text-sm font-medium text-gray-900 dark:text-white'
        >¿Qué moto tiene?</label
      >
      <input
        type='text'
        id='motorcycle'
        class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
        placeholder='Pulsar NS 160 FI'
        required
      />
    </div>
    <div>
      <label for='phone' class='block mb-2 text-sm font-medium text-gray-900 dark:text-white'>Número de celular</label>
      <input
        type='tel'
        id='phone'
        class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
        placeholder='3043538612'
        pattern='[0-9]{3}-[0-9]{2}-[0-9]{3}'
        required
      />
    </div>
    <div>
      <label for='email' class='block mb-2 text-sm font-medium text-gray-900 dark:text-white'>Correo electrónico</label>
      <input
        type='email'
        id='email'
        class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
        placeholder='me@johnserrano.co'
        required
      />
    </div>
  </div>
  <button
    type='submit'
    class='text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'
    >Enviar correo</button
  >
</form>
